*{
    margin: 0%;
    font-family: 'NSimSun';
}
header li{
    margin: 0 10px;
}
body{
    background-image: url( '../pictures/pbg3.jpg');
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
img.bn{
    opacity: 0.7;
}
.row>*{
    padding: 0% 0%;
}
#three{
    padding: 5%;
}
.what{
    margin: 10%;
    color: white;
    text-align: center;
}
.vid{
    text-align: right;    
}
