*{
    margin: 0%;
    /* color:#E2F0D9; */
    font-family: 'NSimSun';
}
header li{
    margin: 0 10px;
}
body{
    background-image: url( '../pictures/pbg.png');
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bug{
    background-image: url( '../pictures/pbg5.jpg');
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 15%;
}
.nes{
    background-image: url( '../pictures/pbg4.jpg');
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 15%;
}
img.me{
    padding: 1.5%;
}
.myintro{
    padding: 1.5%;
    font-size: large;
}
#intro{
    padding: 5% 0%;
}
.tti{
    font-weight: 1300;
    text-align: center;
}
.range{
    padding: 2%;
    background-color: #f2f2f28e;
}
.ran{
    background-color: #f2f2f28e;
}
.col-md-10{
    margin-left: 8.5%;
}

.carousel-inner .item img { 
    width :  100% ;  /* or width: 100% !important; */ 
}
.acc{
    margin-bottom: 5%;
}
.accordion-button:not(.collapsed) {
    color: #194100;
    background-color: #E2F0D9;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.icon{
    width: 40px;
    height: 40px;
    margin: 0% 1%;
}
.reco{
    margin-bottom: 5%;
}
a:active,a:link,a:visited{
    color: black;
    text-decoration:none;
}