*{
    margin: 0%;
    font-family: 'NSimSun';
}
body{
    background-image: url( '../pictures/pbg7.jpg');
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#intro{
    padding: 5% 0%;
}
.plant{
    box-shadow:  gray 2px 4px 4px;
    float: left;
}
.right{
    float: right;
}
.pla{
    float: left;
    /* padding-right: 20%; */
    margin-left: -30%;
}
.drc{
    line-height: 36px;
}
.carousel-control-prev {
    left: 5%;
}
.carousel-control-next {
    right: 0%;
}
.carousel-inner {
    position: relative;
    width: 85%;
    overflow: hidden;
    margin: 0% 10%;
}